<!DOCTYPE html>
<html lang="en">
<head>
    <!--title-->
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <!--link upper left-->
    <a href="/" style="float: left">
        Welcome to <br />
        Insta485!
    </a>
    <!--link upper right-->
    <a href="/explore/" style="float: right"> explore</a><br />
    <a href="/users/{{logname}}/" style="float: right">{{logname}}</a><br /><hr />
    <main>
    <h1>Followers</h1>
    {% for follower in followers %}
        <div class = "people">
            <img src="{{follower.user_img_url}}" alt="{{follower.username}}">
            <a href="/users/{{follower.username}}/">{{follower.username}}</a>
            <p style="float: right; color: grey;">
                {% if follower.username != logname %}
                    {% if follower.logname_follows_username %}
                        following
                    {% else %}
                        not following
                    {% endif %}
                {% endif %}
            </p>
        </div>
    {% endfor %}
    </main>
</body>
</html>