<!DOCTYPE html>
<html lang="en">
    <head>
    <!--title-->
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
    <!--link upper left-->
    <a href="/" style="float: left">
        Welcome to <br />
        Insta485!
    </a>
    <!--link upper right-->
    <a href="/explore/" style="float: right"> explore</a><br />
    <a href="/users/{{logname}}/" style="float: right">{{logname}}</a><br />
    <hr />
    <main>
        {% for apost in posts %}
        <div class="post">
            <!--headers-->
            <a href="/users/{{apost.owner}}/">
                <img
                src="{{apost.owner_img_url}}"
                alt="{{apost.owner}}'s profile"
                style="width: 60px; height: 60px"
                />
                {{apost.owner}}
            </a>
            <a href="/posts/{{apost.postid}}/" style="float: right"> {{apost.timestamp}} </a><br />
            <hr />
            <!--post-->
            <img
                src="{{apost.img_url}}"
                alt="post{{apost.postid}}"
            />
            <p>{{apost.likes}}             
                {% if apost.likes == 1 %}
                    like<br />
                {% else %}
                    likes<br />
                {% endif %}
            </p>
            <!--comments-->
            <p>
                {% for comment in apost.comments %}
                <a href="/users/{{comment.owner}}/">{{comment.owner}}</a> {{comment.text}}<br />
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </main>
    </body>
</html>
