<!DOCTYPE html>
<html lang="en">
<head>
    <!--title-->
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!--link upper left-->
        <a href="/" target="_blank" style="float: left; "> 
        Welcome to <br> Insta485!
        </a>
    <!--link upper right-->
    <a href="/explore/" target="_blank" style="float: right;"> 
        explore
    </a><br>
    <a href="/users/{{logname}}/" style="float: right;">
        {{logname}}
    </a><br><hr>
    <main>
        <h1>
            {{username}}
        </h1><br>
        <p>
            {% if username != logname %}
                {% if logname_follows_username %}
                    following
                {% else %}
                    not following
                {% endif %}
            {% endif %}<br>
            {{total_posts}} 
            {% if total_posts == 1 %}
                post 
            {% else %}
                posts 
            {% endif %}
            <a href="/users/{{username}}/followers/">{{followers}} 
                {% if followers == 1 %}
                    follower
                {% else %}
                    followers
                {% endif %}
            </a> <a href="/users/{{username}}/following/">{{following}} following</a><br>
            {{fullname}}
        </p><br>
        {% for apost in posts %}
        <a href="/posts/{{apost.postid}}/">
            <img src="{{apost.img_url}}" alt="{{username}}'s post 1">
        </a>
        {% endfor %}
    </main>
</body>
</html>